<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% block link %}{% endblock %}
<style type="text/css">
	body{
		font-family: 'Work Sans', sans-serif;
		overflow-x: hidden !important;
	}
	.navbar{
	  box-shadow: 0 8px 6px -9px #999;
	}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-sm">
  		{% block logo %}{% endblock %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        	{% block logout_btn %}{% endblock%}
        </li>
      </ul>
  </nav>
<div class="block">
	{% block content %}{% endblock %}
</div>
</body>
</html>