{% extends 'base.html' %}
{% load static %}

{% block title %}Superintendent Portal{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'superintendent_css.css' %}">
{% endblock %}

{% block logo %}<a class="navbar-brand" style="color: #49688e;">{{request.user.first_name}} {{request.user.last_name}}</a>{% endblock %}

{% block logout_btn %}<a class="nav-link" href="{% url 'user_logout' %}" style="color: #49688e; text-decoration: none;">Logout</a>{% endblock %}

{% block content %}

<h4>Received Question Papers</h4>
<hr>

{% for teacher in queryset %}
<div class="card bg-light text-dark flip" id="{{prequest.id}}">
	<div class="card-body">
	  	<div class="details" id="details">
	  		Subject Code: <span style="color: #49688e;">{{teacher.s_code}}</span><br>
	  		Course: <span style="color: #49688e;">{{teacher.course}}</span><br>
	  		Semester: <span style="color: #49688e;">{{teacher.semester}}</span><br>
	  		Branch: <span style="color: #49688e;">{{teacher.branch}}</span><br>
	  		Subject: <span style="color: #49688e;">{{teacher.subject}}</span><br>
	  		Question Paper: <span><a href="{{teacher.paper.url}}" style="color: #49688e;" target="_blank">Download Paper</a></span><br>
  		</div>
	</div>
</div><br>
{% endfor %}

{% endblock %}